In [30]:
import pandas as pd
import numpy as np
import seaborn as sns
import datetime as dt
import matplotlib.pyplot as plt

# Load the data from the CSV file with utf-8 encoding
file_path = r'C:\Users\mgaig\OneDrive\Data - portfolio\Jupyter Lab\RFM Analysis\Online Retail.csv'
df = pd.read_csv(file_path, encoding='ISO-8859-1')

# Display the first few rows of the dataframe
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

Import data

In [31]:
# Remove rows with missing CustomerID
df = df.dropna(subset=['CustomerID'])

# c) Calculate a 'TotalPrice' = Quantity * UnitPrice
df['TotalPrice'] = data['Quantity'] * df['UnitPrice']

# Convert InvoiceDate to datetime
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

# 3. Determine the "snapshot date" (for recency calculation)
# Typically, we take the day after the last invoice date
snapshot_date = df['InvoiceDate'].max() + dt.timedelta(days=1)
print("Snapshot date:", snapshot_date)

Snapshot date: 2011-12-10 12:50:00

In [32]:
# Convert InvoiceDate to datetime if not already done
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

# Calculate Recency, Frequency, and Monetary values

# Set the date for recency calculation
now = dt.datetime(2011, 12, 10)

# Create RFM table
rfmTable = df.groupby('CustomerID').agg({
    'InvoiceDate': lambda x: (now - x.max()).days,
    'InvoiceNo': 'count',
    'TotalPrice': 'sum'
}).reset_index()

# Rename columns
rfmTable.rename(columns={
    'InvoiceDate': 'Recency',
    'InvoiceNo': 'Frequency',
    'TotalPrice': 'Monetary'
}, inplace=True)

# Display the RFM table
rfmTable.head()

   CustomerID  Recency  Frequency  Monetary
0     12346.0      325          2      0.00
1     12347.0        2        182   4310.00
2     12348.0       75         31   1797.24
3     12349.0       18         73   1757.55
4     12350.0      310         17    334.40

# RFM Analysis Findings
• Recency measures the number of days since the last purchase, so lower values indicate more recent activity.
• Frequency is the total number of purchases; higher values signal more engaged customers.
• Monetary sums all spending; higher values suggest higher-value customers.